.modal-wrapper.active {
    visibility: visible;
    opacity: 1;
}

.modal-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;

    background: rgba(50,50,50, 0.7);

    visibility: hidden;
    opacity: 0;

}

.modal {
    display: block;
    width: 60rem;
    background: var(--black);
    margin: auto;

    border-radius: 1rem;
}

.modal div {
    margin: 3rem;
}