<!DOCTYPE html>
    <head>
        <title> MeuBalanço - Registros</title>
        <meta charset="UTF-8">
        <!-- view port -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Importa CSS -->
        <link rel="stylesheet" href="styles/global.css">
        <link rel="stylesheet" href="styles/balanco.css">
        <link rel="stylesheet" href="styles/modal.css">

        <!-- Importa fontes -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Ruluko&display=swap" rel="stylesheet">
        
        <!-- Scripts -->
        <script src="scripts/main.js" defer type="module"></script>
    
    </head>

    <body>
        <div id="balanco" class="content">
            <header>
                <div class="welcome">
                    Olá, fulano
                </div>
                <div class="button">
                    <a href="home.html"> <img src="images/voltar.png" title="Voltar à home"></img></a>
                </div>
            </header>
        
            <main>
                <div class="registros">
                    <table>
                        <tbody>
                            <tr>
                                <td>26/02</td>
                                <td>Almoço mãe</td>
                                <td>25.00</td>
                            </tr>
                            <tr>
                                <td>08/10</td>
                                <td>fan Cooler Master Sickleflow</td>
                                <td>42.90</td>
                            </tr>
                        </tbody>
                       

                    </table>
    
                </div>
                <div class="buttons">
                    <div>
                    <a class="button action-open entrada">
                        <img src="images/icone-mais.png">
                        Nova entrada
                    </a>
                    <a class="button action-open saida">
                        <img src="images/icone-menos.png">
                        Nova saída
                    </a>
    
                </div>
                
            </main>
            
           
        
        </div>

        <!-- ----- MODAIS -------- -->

        <div class="modal-wrapper" id="entrada">
            <div class="modal">
                <div>
                    <h2>Nova entrada</h2>
                    <form action=""> 
                        <input type="date" id="data" placeholder="Data">
                        <input type="number" id="valor" placeholder="Valor">
                        <input type="text" id="descricao" placeholder="Descrição">
                        <button> Salvar entrada</button>
                        <a class="button outlined action-cancel entrada">
                            Cancelar
                        </a>
                    </form> 
                </div>
            </div>
        </div>

        <div class="modal-wrapper" id="saida">
            <div class="modal">
                <div>
                    <h2>Nova saída</h2>
                    <form action=""> 
                        <input type="date" id="data" placeholder="Data">
                        <input type="number" id="valor" placeholder="Valor">
                        <input type="text" id="descricao" placeholder="Descrição">
                        <button> Salvar saída</button>
                        <a class="button outlined action-cancel saida">
                            Cancelar
                        </a>
                    </form> 
                </div>             
            </div>
        </div>

        
    </body>

    
</html>