<!DOCTYPE html>
    <head>
        <title> MeuBalanço - Cadastrar</title>
        <meta charset="UTF-8">
        <!-- view port -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Importa CSS -->
        <link rel="stylesheet" href="/styles/global.css">
        <link rel="stylesheet" href="/styles/home.css">

        <!-- Importa fontes -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Ruluko&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="home" class="content">
            <main>
                <div class="container">
                    <section>
                        <h2>MeuBalanço</h2>
                        <h3>Cadastrar</h3>
                        <form action="/novo-cadastro" method="POST">
                            <section>
                                <label class="scr-only" for="novo-nome"> Nome</label>
                                <input type="text" id="novo-nome" name="novo-nome" placeholder="Nome">

                                <label class="scr-only" for="novo-email"> E-mail</label>
                                <input type="email" id="novo-email" name="novo-email" placeholder="E-mail">
                                
                                <label class="scr-only" for="nova-senha"> Senha</label>
                                <input type="password" id="nova-senha" name="nova-senha" placeholder="Senha">

                                <label class="scr-only" for="repetir-senha"> Repetir senha</label>
                                <input type="password" id="repetir-senha" name="repetir-senha" placeholder="Repetir senha">


                                <button> Cadastrar</button>
                            </section>
                            
                            <div class="separator"></div>
        
                            <section>
                                <a href="/" class="button outlined">
                                    Voltar p/ home
                                </a>
                            </section>
        
        
        
                    </section>
                    
                    </form>
                </div>
                
            </main>
        </div>		
    </body>
</html>