<!DOCTYPE html>
    <head>
        <title> MeuBalanço - Home</title>
        <meta charset="UTF-8">
        <!-- view port -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Importa CSS -->
        <link rel="stylesheet" href="/styles/global.css">
        <link rel="stylesheet" href="/styles/home.css">

        <!-- Importa fontes -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Ruluko&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="home" class="content">
            <main>
                <div class="container">
                    <section>
                        <h2>MeuBalanço</h2>
                        <section>
                            <form action="">
                                <label class="scr-only" for="nome"> Nome</label>
                                <input type="text" id="nome" name="nome" placeholder="Nome">
                            
                                <label class="scr-only" for="senha"> Senha</label>
                                <input type="password" id="senha" name="senha" placeholder="Senha">
                                <button> Entrar</button>
                            </form>      
                        </section>
                        
                        <div class="separator">
                            
                        </div>
    
                        <section>
                            <a href="/cadastrar" class="button outlined">
                                Novo cadastro
                            </a>
                        </section>
                    </section>
                    
                    </form>
                </div>
                
            </main>
        </div>		
    </body>
</html>